@model IEnumerable<FilmStudioManager.Models.Genre>
@{
    ViewData["Title"] = "All Genres";
}

<div class="col-md-12 d-flex align-items-center">
    <h1 class="header-row">Genres</h1>
    <a class="aero primary ms-auto" asp-action="Create">Add Genre</a>
</div>

<table id="genreTable" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var genre in Model)
        {
            <tr>
                <td>@genre.GenreName</td>
                <td class="text-nowrap">
                <div class="d-flex gap-1">
                    <a class="aero" asp-controller="Genre" asp-action="Edit" asp-route-id="@genre.GenreId" >Edit</a>
                    <form class="form-inline" asp-controller="Genre" asp-action="Delete" asp-route-id="@genre.GenreId" method="post">
                        @Html.AntiForgeryToken()
                        <button type="submit" class="aero danger">Delete</button>
                    </form>
                </div>
            </td>
            </tr>
        }
    </tbody>
</table>

@* <table class="table table-bordered mt-3 table-striped  ">
    <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Options</th>
    </thead>
    <tbody>
    @foreach(var genre in Model)
    {
        <tr>
            <td>@genre.GenreId</td>
            <td>@genre.GenreName</td>
            <td class="text-nowrap">
                <div class="d-flex gap-1">
                    <a class="aero" asp-controller="Genre" asp-action="Edit" asp-route-id="@genre.GenreId" >Edit</a>
                    <form class="form-inline" asp-controller="Genre" asp-action="Delete" asp-route-id="@genre.GenreId" method="post">
                        @Html.AntiForgeryToken()
                        <button type="submit" class="aero danger">Delete</button>
                    </form>
                </div>
            </td>
        </tr>
    }
    </tbody>
</table> *@

@section Scripts
{
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css" />

    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>

    <script>
        $(document).ready(function () {
            console.log("✅ DataTables initialized");
            $('#genreTable').DataTable();
        });
    </script>
}