@{
    ViewData["Title"] = "All Films";
}

<div class="col-md-12 d-flex align-items-center">
    <h1 class="header-row">Films</h1>
    @if(User.Identity.IsAuthenticated)
    {
        <button class="aero primary ms-auto"><a asp-action="Create">Add Film</a></button>
    }
</div>

    <div class="elementDisplay">
    @foreach(var film in Model)
    {
        <div class="element glass-card">
            
            <div class="glass-filter"></div>
            <div class="glass-overlay"></div>
            <div class="glass-specular"></div>

            <div class="elementHeader">@film.FilmName</div>
            <div class="elementData">@film.Genre.GenreName</div>
            <div class="elementData">@film.DateOfRelease</div>
            @if(User.Identity.IsAuthenticated)
            {
                <div class="d-flex gap-1">
                        <button class="aero"><a asp-controller="Film" asp-action="Edit" asp-route-id="@film.FilmId" >Edit</a></button>
                        <form class="form-inline" asp-controller="Film" asp-action="Delete" asp-route-id="@film.FilmId" method="post">
                            @Html.AntiForgeryToken()
                            <button class="aero danger" type="submit">Delete</button>
                        </form>
                </div>
            }
        </div>
    }
</div>