@using FilmStudioManager.Helpers
@model PaginatedList<FilmStudioManager.Models.Film>
@{
    ViewData["Title"] = "All Films";
}

<div class="col-md-12 d-flex align-items-center">
    <h1 class="header-row">Films</h1>
    @if(User.Identity.IsAuthenticated)
    {
        <button class="aero primary ms-auto"><a asp-action="Create">Add Film</a></button>
    }
</div>

<form asp-action="Index" method="get">
    <p>
        Search: <input type="text" name="searchString" value="@ViewData["CurrentFilter"]" />
        <button type="submit" class="aero">Search</button>
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-searchString="@ViewData["CurrentFilter"]">Name</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]" asp-route-searchString="@ViewData["CurrentFilter"]">Date</a>
            </th>
            <th>Genre</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var film in Model)
        {
            <tr>
                <td>@film.FilmName</td>
                <td>@film.DateOfRelease?.ToString("yyyy-MM-dd")</td>
                <td>@film.Genre?.GenreName</td>
                <td>
                    <div class="d-flex gap-1">
                        <a class="aero" asp-controller="Film" asp-action="Edit" asp-route-id="@film.FilmId" >Edit</a>
                        <form class="form-inline" asp-controller="Film" asp-action="Delete" asp-route-id="@film.FilmId" method="post">
                            @Html.AntiForgeryToken()
                            <button class="aero danger" type="submit">Delete</button>
                        </form>
                </div>
                </td>
            </tr>
        }
    </tbody>
</table>


<div class="text-center">
    @if (Model.HasPreviousPage)
    {
        <a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex - 1)" asp-route-sortOrder="@ViewData["CurrentSort"]" asp-route-searchString="@ViewData["CurrentFilter"]">Previous</a>
    }

    Page @Model.PageIndex of @Model.TotalPages

    @if (Model.HasNextPage)
    {
        <a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex + 1)" asp-route-sortOrder="@ViewData["CurrentSort"]" asp-route-searchString="@ViewData["CurrentFilter"]">Next</a>
    }
</div>


    @* <div class="elementDisplay">
    @foreach(var film in Model)
    {
        <div class="element glass-card">
            
            <div class="glass-filter"></div>
            <div class="glass-overlay"></div>
            <div class="glass-specular"></div>

            <div class="elementHeader">@film.FilmName</div>
            <div class="elementData">@film.Genre.GenreName</div>
            <div class="elementData">@film.DateOfRelease</div>
            @if(User.Identity.IsAuthenticated)
            {
                <div class="d-flex gap-1">
                        <button class="aero"><a asp-controller="Film" asp-action="Edit" asp-route-id="@film.FilmId" >Edit</a></button>
                        <form class="form-inline" asp-controller="Film" asp-action="Delete" asp-route-id="@film.FilmId" method="post">
                            @Html.AntiForgeryToken()
                            <button class="aero danger" type="submit">Delete</button>
                        </form>
                </div>
            }
        </div>
    } *@